.wat-popup-picker {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2001;
}

.wat-popup-picker_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  div.wat-popup-control_btn {
    padding: 10px 20px;
    color: #333;
    &.wat-popup-confirm_btn {
      color: @theme-color;
    }
    &.wat-popup-cancel_btn {
      color: #999;
    }
  }
}

.wat-popup-select_box {
  position: relative;
}